@import 'mixins';


.cardSecundary{
    @include displayFlex( column, center, center);
    @include boxeConfig(99vw,$branco,0rem,(0rem 0rem),20rem);
    text-align: center;
    h4{
        width: 60rem;
        margin-top: 1rem;
    }
    p{
        text-align: center;
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 147.826% */
letter-spacing: 0.23px; 
width: 40rem;
    }
    h3{
        font-size: 4rem;
        font-weight: bold;
        margin: 2rem;
    }
}

.cardImgsIcons {
    display: flex;
    padding: 9rem;
    position: relative;
}

.cardIcon3{
   position: relative;

}


.iconCards2{
    position: absolute;
    z-index: 2;
    /* background: red; */
    top: 12.5rem;
    left: 65rem;


}
.iconCards3{
    position: absolute;
    z-index: 2;
    /* background: red; */
    top: 12.5rem;
    left: 24.8rem;

}
.iconCards1{
    position: absolute;
    z-index: 2;
    
    top: 4.8rem;
    left: 17rem;
}