

$primariaRosa: #F72585;
$primariaRoxo:#7209B7;
$primariaAzulEscuro: #3A0CA3;
$primariaAzul: #4361EE;
$primariaAzulClaro: #4CC9F0;

//cores primarias


$rosaOpaco: #F78FBF;
$roxoOpaco: #9665B7;
$azulEscuroOpaco: #6C40CFE5;
$azulOpaco: #8297FD;
$azulClaroOpaco: #9EDDF0E5;
$branco: #FFFFFF;
$preto: #000000;

//core opacas

$rosaForte:#E8006A;
$roxoForte:#9A00FF;
$azulEscuroForte:#4E00FF;
$azulForte:#002DFF;
$azulClaroForte:#00C2FF;
