
@media (max-width: 1200px) {
   
    .container {
      align-items: end;
      padding: 20px;
        ul.menuList {
          display: none;
      }

      button {
          display: none;
      }
      
    
  }
    .header {
      font-size: 1.8rem;
    }
    .cardSecundary p {
      width: 30rem;
    }
    .iconCards2{
      left: 48vw;
    }
    .iconCards1{
        left: 12rem;
    }
    .iconCards3{
        left: 19vw
    }

    .cardComment .commentFistCard {
      width: 38rem;
  }
  .cardComment .commentSecondCard {
    width: 47rem;
    margin-left: -4rem;
   
  }
  .cardPanies{
    img{
      width: 24rem;
    }
  }
  .footer .newLatterCard {
    width: 105.7rem;
    height: 51.7rem;
  }
  .footer{
         h2{
            font-size: 4.8rem;
         }
         .emaiInput{
          width: 62vw;
        }
  }
  .footer button.subscribe {
    width: 25rem;
   
    top: 34rem;
    right: 23rem;
  }
  
 
}
  
  
  @media (min-width: 768px) and (max-width: 1090px) {

    .cardHeroContainer{
      margin-top: 17rem;
    }
   
    .seachContainer {
      flex-direction: column;
      width: 68rem;
      padding: 2rem 0rem;
  }
  .btnSearch {
    width: 16.5rem;
    height: 4rem;
    top: 1.3rem;

}
.card3 {
  display: none;
}
.womanImg {
  position: absolute;
  top: -15rem;
  right: 11rem;
  height: 25rem;
  z-index: -1;
}
.svgHero1{
  display: none;
}

.mainCard p {
 
  width: 32rem;
}
.mainCard h1 {
 
  font-size: 4rem;
}
     
    .header {
      font-size: 1.5rem;
    }
    h2{
      font-size: 3.4rem;
    }
    h4{
      font-size: 1.6rem;
    }
   
    .cardImgsIcons {
      display: flex;
      padding: 9rem;
      position: relative;
      flex-direction: column;
      gap: 8rem;
  }
  .cardImgsIcons h3 {
    font-size: 2.3rem;
}
.cardImgsIcons p {
  font-size: 1.8rem;
}
.sliderSection{
  h1{
    font-size: 3.4rem;
  }
  p{
    font-size: 1.6rem;
  }
 
}
.containerSlider{
  .slider{
    margin-top: 8rem;
    width: 72vw;
  }
}

.cardSlider{
         margin-top: 0rem;
         padding-bottom: 15rem;

  }
  div#containerSlider2 {
    margin-top: 6rem;
}
.slider{
  margin-top: 8rem;
  width: 66rem;
}
.cardComment{
  flex-direction: column;
  padding-bottom: 10rem;
}
.commentFistCard{
  h1{
    font-size: 3.4rem;
    width: 50rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  p{
    width: 50rem;
    text-align: center;
  }
 
}
.cardComment .commentSecondCard {
  width: 40rem;
  margin-left: 0rem;
  margin-top: 5rem;
}
.cardComment .commentSecondCard .commentCard {
  h4{
    font-size:2.4rem;
    left: 8rem;
    }
  p{
    font-size: 1.4rem;
    width: 20rem;
  }
  img{
    width: 15rem;
  }
}
.cardComment .commentSecondCard .commentCard .cardTags{
  span{
    width: 8rem;
    height: 3rem;
  }
}
.cardComment .commentSecondCard .commentCard .cardTags span:nth-child(1) {
  left: 7rem;
}
.cardComment .commentSecondCard .commentCard .cardTags span:nth-child(3) {
  left: 17rem;
}
.cardComment .commentSecondCard .commentCard .cardTags span:nth-child(2) {
  
  left: 27rem;
}
.cardPanies img {
  width: 20rem;
}
.companies{
  flex-direction: column;
  gap: 5rem;
  align-items: start;
  margin-left: 10rem;
  padding-bottom: 10rem;
}

.footer .newLatterCard {
  width: 65.7rem;
  height: 36.7rem;
}

.footer{
  h2{
    font-size: 2.8rem;
  }
  .headerLatterCard p{
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }
  .emaiInput{
     height: 6rem;
     padding: 3rem;

  }
  button.subscribe {
    display: none;
}
}
.footer footer {
  margin-top: 12rem;
  margin-bottom: 4rem;
}
  
}
  @media (max-width: 768px) {
    .seachContainer{
      width: 55rem;
      padding: 3rem 1rem 1rem 1rem;
      flex-direction: column;
      margin-top: 3rem;
    }
    .searchDrawer {
      width: 48rem;
      font-size: 1rem;
      align-items: start;
  }
  .btnSearch {
    font-size: 1.6rem;
    margin: 1rem 2rem;
    width: 16.5rem;
    height: 4rem;
  
}
li.listItemDrawer {
  display: flex;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
ul.listDestiny {
  margin-right: 1rem;
}
.cardHeroContainer {
      margin-top: 5rem;
      gap: 8rem;
  }
  .mainCard {
    width: 27rem;
    padding: 1rem;
    h1{
      font-size: 3.8rem;
    }
    p{
      width: 24rem;
      font-size: 1.4rem;
    }
   
}
.card3 {
  display: none;
}
.card1,.card2 {
  img{
    width: 20rem;
  }
}
.cardImgs {

  grid-template-areas:
      "card1 card1"
      "card2 card2";
  gap: 3rem;
  position: relative;
}
.womanImg {
  position: absolute;
  top: 16rem;
  right: 3rem;

}
.ellipse#Ellipse\ 1 {
  display: none;
}
.cardTravelfy {
  width: 58rem;
  text-align: center;
}
.cardSecundary h4 {
  width: auto;
  margin-top: 1rem;
  padding: 0rem 5rem;
}
.cardImgsIcons {
 
  
  flex-direction: column;
  gap: 6rem;
}
.svgHero1{
  display: none;
}
.cardTravelfy{
  h2{
    font-size: 3.4rem;
    margin-top: 6rem;
  }
  h4{
    font-size: 1.6rem;
  }
}
.cardImgsIcons{
  h3{
    font-size: 3.3rem;
  }
  p{
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
.cardSlider{
  margin-top: 1rem;
  padding-bottom: 10rem;
}
.sliderSection{
  h1{
    font-size: 3.4rem;
  }
  p{
    font-size: 1.6rem;
    width: 50rem;
  }
}
.slider{
  margin-top: 8rem;
  width: 44rem;
}
.cardComment .commentSecondCard .commentCard img{
  left: -7rem;
}
.cardComment{
  flex-direction: column;
  gap: 6rem;
  padding-bottom: 0rem;
  .commentFistCard{
    h1{
      font-size: 3.4rem;
    
      text-align: center;
      margin-bottom: 1rem;
    }
    p{
      
      text-align: center;
    }
  }
}
.companies{
  flex-direction: column;
  gap: 3rem;
  padding: 10rem;
}
.footer .newLatterCard {
  width: 52.7rem;
  height: 34.4rem;
}
.footer .headerLatterCard{
  h2{
    font-size: 2.8rem;
  }
  p{
    font-size: 1.6rem;
    padding: 0;
  }
  
}
.footer .emaiInput{
  height: 6rem;
  padding: 3rem;
 }
 .footer button.subscribe {
  display: none;
 }
 .footer footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 10rem;
  width: 90vw;
}
.footer .footerfirstContainer {
  width: 100%;
  text-align: left;
  padding: 0rem 4rem;
}
.footer .footerSecondContainer {
  width: 63rem;
  padding-left: 4rem;
  
}
.menuCard {
  display: none;
}
}