
@media (max-width: 1200px) {
   
    .container {
      align-items: end;
      padding: 20px;
        ul.menuList {
          display: none;
      }

      button {
          display: none;
      }
      
    
  }
    .header {
      font-size: 1.8rem;
    }
    .cardSecundary p {
      width: 30rem;
    }
    .iconCards2{
      left: 48vw;
    }
    .iconCards1{
        left: 12rem;
    }
    .iconCards3{
        left: 19vw
    }

    .cardComment .commentFistCard {
      width: 38rem;
  }
  .cardComment .commentSecondCard {
    width: 47rem;
    margin-left: -4rem;
   
  }
  .cardPanies{
    img{
      width: 24rem;
    }
  }
  .footer .newLatterCard {
    width: 105.7rem;
    height: 51.7rem;
  }
  .footer{
         h2{
            font-size: 4.8rem;
         }
         .emaiInput{
          width: 62vw;
        }
  }
  .footer button.subscribe {
    width: 25rem;
   
    top: 34rem;
    right: 23rem;
  }
  
 
}
  
  
  @media (min-width: 768px) and (max-width: 1090px) {

    .cardHeroContainer{
      margin-top: 17rem;
    }
   
    .seachContainer {
      flex-direction: column;
      width: 68rem;
      padding: 2rem 0rem;
  }
  .btnSearch {
    width: 16.5rem;
    height: 4rem;
    top: 1.3rem;

}
.card3 {
  display: none;
}
.womanImg {
  position: absolute;
  top: -15rem;
  right: 11rem;
  height: 25rem;
  z-index: -1;
}
.svgHero1{
  display: none;
}

.mainCard p {
 
  width: 32rem;
}
.mainCard h1 {
 
  font-size: 4rem;
}
     
    .header {
      font-size: 1.5rem;
    }
    h2{
      font-size: 3.4rem;
    }
    h4{
      font-size: 1.6rem;
    }
   
    .cardImgsIcons {
      display: flex;
      padding: 9rem;
      position: relative;
      flex-direction: column;
      gap: 8rem;
  }
  .cardImgsIcons h3 {
    font-size: 2.3rem;
}
.cardImgsIcons p {
  font-size: 1.8rem;
}

  }
  
 
  @media (max-width: 768px) {
 
    .container {
    
      padding: 10px;
    }
    .header {
      font-size: 1.2rem;
    }
  }
  