@import '_bootstrap.scss';


.cardManu{
    @include displayFlex(row, center, center);
    width: 100vw;
    background-color: #f1f1f1;
}
.container{
    width: 100vw;
    background-color: #f1f1;
    max-width: 120.0rem;
    @include displayFlex(row, space-between, center);
    padding: 8rem 0rem 0rem 0rem;

}
.menuList{
    @include displayFlex(row, space-around, center);
    width: 50rem;
    background-color: #f1f1f1;
}



