@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 1.6rem;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li, a {
  list-style: none;
  text-decoration: none;
}

h1, h2 {
  /* H1 */
  font-family: Inter;
  font-size: 5.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.58px;
}

h4 {
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.58px;
}

a {
  font-family: Inter;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  color: #000000;
}
a:hover {
  color: #F72585;
}

.strong {
  font-weight: 800;
}

.widthLimit {
  max-width: 133.2rem;
  min-width: 16rem;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.cardManu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.container {
  width: 90vw;
  max-width: 133.2rem;
  min-width: 16rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: baseline;
  padding: 8rem 0rem 0rem 0rem;
}

.menuList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50rem;
}

.heroBg {
  background-image: url("../../public/backGroundBg.png");
  background-size: cover;
  height: 100vh;
}

.btnLogin {
  color: #E8006A;
  background-color: #FFFFFF;
  border: 1px solid #F72585;
  padding: 1rem 2rem;
  border-radius: 5rem;
  letter-spacing: -0.14px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0rem 2rem;
  border: none;
}
.btnLogin:hover {
  background-color: #E8006A;
  color: #FFFFFF;
}

.btnRegister {
  color: #E8006A;
  background-color: #FFFFFF;
  border: 1px solid #F72585;
  padding: 1rem 2rem;
  border-radius: 5rem;
  letter-spacing: -0.14px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0rem 2rem;
}
.btnRegister:hover {
  background-color: #E8006A;
  color: #FFFFFF;
}

.logo {
  font-size: 3.9rem;
}

.cardNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.seachContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90rem;
  background: #FFFFFF;
  border-radius: 5.5rem;
  padding: 4rem 0rem;
  margin-top: 8rem;
  box-shadow: 52px 229px 66px 0px rgba(0, 0, 0, 0), 33px 146px 60px 0px rgba(0, 0, 0, 0.01), 19px 82px 51px 0px rgba(0, 0, 0, 0.05), 8px 37px 38px 0px rgba(0, 0, 0, 0.09), 2px 9px 21px 0px rgba(0, 0, 0, 0.1);
}

.searchDrawer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.searchDrawer div:nth-child(3) {
  margin-right: 1rem;
}

.listItemDrawer {
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: bold;
  letter-spacing: -0.14px;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.listItemDrawerMsg {
  margin-right: 5rem;
}

.btnSearch {
  color: #FFFFFF;
  background-color: #E8006A;
  border: 1px solid #F72585;
  padding: 1rem 2rem;
  border-radius: 5rem;
  letter-spacing: -0.14px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0rem 2rem;
  border: none;
  width: 19.5rem;
  height: 5rem;
  position: relative;
}
.btnSearch:hover {
  background-color: #FFFFFF;
  color: #E8006A;
}

.search img {
  position: absolute;
  right: 11vw;
  top: 27.3rem;
  font-weight: 800;
}

.cardHeroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}

.mainCard {
  width: 80rem;
  background: 0px;
  border-radius: 1rem;
  padding: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.mainCard h1 {
  margin-bottom: 2rem;
  font-weight: bold;
}
.mainCard p {
  width: 45rem;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
  letter-spacing: -0.14px;
  margin-bottom: 2rem;
}

.cardHero {
  display: flex;
  justify-content: space-around;
}

.cardImgs {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Define duas colunas de largura igual */
  grid-template-rows: auto auto; /* Define duas linhas com altura automática */
  grid-template-areas: "card1 card3" "card2 card3"; /* Define as áreas no grid */
  gap: 1rem; /* Espaçamento entre as imagens, ajuste se necessário */
  position: relative;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.womanImg {
  position: absolute;
  top: 14rem;
  right: 31rem;
  transform: rotate(-5deg);
}

.svgHero1 {
  position: absolute;
  top: 39rem;
  right: 44rem;
}

.cardSecundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99vw;
  background: #FFFFFF;
  border-radius: 0rem;
  padding: 0rem 0rem;
  margin-top: 20rem;
  text-align: center;
}
.cardSecundary h4 {
  width: 60rem;
  margin-top: 1rem;
}
.cardSecundary p {
  text-align: center;
  font-family: Inter;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 147.826% */
  letter-spacing: 0.23px;
  width: 40rem;
}
.cardSecundary h3 {
  font-size: 4rem;
  font-weight: bold;
  margin: 2rem;
}

.cardImgsIcons {
  display: flex;
  padding: 9rem;
  position: relative;
}

.cardIcon3 {
  position: relative;
}

.iconCards2 {
  position: absolute;
  z-index: 2;
  /* background: red; */
  top: 12.5rem;
  left: 65rem;
}

.iconCards3 {
  position: absolute;
  z-index: 2;
  /* background: red; */
  top: 12.5rem;
  left: 24.8rem;
}

.iconCards1 {
  position: absolute;
  z-index: 2;
  top: 4.8rem;
  left: 17rem;
}

.cardSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99vw;
  background: #FFFFFF;
  border-radius: 0rem;
  padding: 0rem 0rem;
  margin-top: 5rem;
  text-align: center;
  padding-bottom: 20rem;
}

.sliderSection p {
  width: 60rem;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 115vw;
  margin-top: 15rem;
  margin-right: 0rem;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-bottom: 2rem;
}

.containerSlider2 .slider {
  justify-content: start;
}

div#containerSlider2 {
  margin-top: 14rem;
}

.cardComment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding-bottom: 15rem;
}
.cardComment .commentFistCard {
  width: 50rem;
}
.cardComment .commentSecondCard {
  width: 50rem;
  margin-left: 4rem;
  border-radius: 10px;
  background: #EAE7E7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 30rem;
  position: relative;
}
.cardComment .commentSecondCard .commentCard {
  position: relative;
}
.cardComment .commentSecondCard .commentCard img {
  position: absolute;
  top: 9rem;
  left: -8rem;
}
.cardComment .commentSecondCard .commentCard h4 {
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  background: #FFFFFF;
  width: 20rem;
  position: absolute;
  top: 4rem;
  left: 13rem;
  text-align: center;
  border-radius: 1rem;
}
.cardComment .commentSecondCard .commentCard p {
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;
  width: 34rem;
  position: absolute;
  top: 10rem;
  left: 12rem;
}
.cardComment .commentSecondCard .commentCard .cardTags span {
  background: #F72585;
  width: 9.6rem;
  height: 2.8rem;
  padding: 0.6rem 1.9rem;
  color: #FFFFFF;
  text-align: center;
}
.cardComment .commentSecondCard .commentCard .cardTags span:nth-child(2) {
  position: absolute;
  top: 24rem;
  left: 34rem;
}
.cardComment .commentSecondCard .commentCard .cardTags span:nth-child(3) {
  position: absolute;
  top: 24rem;
  left: 22rem;
}
.cardComment .commentSecondCard .commentCard .cardTags span:nth-child(1) {
  position: absolute;
  top: 24rem;
  left: 10rem;
}

.companies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: hsba(0, 0%, 71%, 0.21);
}
.footer .newLatterCard {
  width: 117.7rem;
  height: 54.7rem;
  flex-shrink: 0;
  text-align: center;
  background: #F72585;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.footer .headerLatterCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 3rem;
  color: #FFFFFF;
}
.footer .headerLatterCard p {
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  padding: 2rem 23rem;
}
.footer .emaiInput {
  width: 104.1rem;
  height: 11.1rem;
  flex-shrink: 0;
  border-radius: 70px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 5rem;
  font-size: 1.8rem;
}
.footer button.subscribe {
  width: 35rem;
  padding: 18px 32px 17px 27px;
  align-items: center;
  border-radius: 70px;
  background: #F72585;
  position: absolute;
  top: 37rem;
  right: 46rem;
  border: none;
  text-align: center;
  color: #FFFFFF;
  font-size: 2.1rem;
  font-weight: bold;
}
.footer .flysvg {
  position: absolute;
  top: 38rem;
  right: 145rem;
  transform: rotate(10deg);
}
.footer footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20rem;
  margin-bottom: 10rem;
  width: 70vw;
}
.footer footer ul > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.footer .footerfirstContainer {
  width: 33rem;
  text-align: left;
}
.footer .footerfirstContainer h3 {
  font-weight: 800;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.footer .footerfirstContainer p {
  margin-bottom: 2rem;
}
.footer .footerSecondContainer {
  width: 63rem;
  padding-left: 8rem;
}
.footer .footerSecondContainer > ul {
  display: flex;
}
.footer ul li:first-child {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.footer li {
  margin-bottom: 1rem;
}
.footer .iconsFooter {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

/* Para telas com largura máxima de 1200px (desktops grandes e menores) */
@media (max-width: 1200px) {
  /* Estilos específicos para telas com no máximo 1200px de largura */
  .container {
    width: 100%;
    padding: 20px;
  }
  .header {
    font-size: 1.8rem;
  }
}
/* Para tablets (largura entre 768px e 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos específicos para tablets */
  .container {
    width: 90%;
    padding: 15px;
  }
  .header {
    font-size: 1.5rem;
  }
}
/* Para celulares (largura máxima de 768px) */
@media (max-width: 768px) {
  /* Estilos específicos para celulares */
  .container {
    width: 100%;
    padding: 10px;
  }
  .header {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
